
html {
    font-size: 1rem;
    background-color: #D9D9D9;
}

p, label{
    font-family: Roboto;
    font-style: normal;
}
.txtStrong{
    font-weight: 500;
    font-size: 18px;
}

.txtDescriptions{
    font-weight: 300;
    font-size: 14px;
}
.tags{
    background: #c4c4c4;
    border-radius: 5px;
    height: 24px;
    width: auto;
    box-sizing: content-box;
    border: #c4c4c4 5px solid;
    border-top: none;
    margin-left: 8px;
}
label{
    display: block;
    font-weight: 400;
    color: #4F4F4F;
    font-size: 16px;
}
